.products {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  li {
    width: 24%;
    float: left;
    list-style: none;
    margin: 0 5px 10px 0;
    overflow: hidden;
    position: relative;
    &:hover{
      overflow: visible;
      -webkit-transform: scale(0.95,0.95);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 200ms;
      -moz-transform: scale(0.95,0.95);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 200ms;
      a {
        text-decoration: none;
      }
    }
  }
  .img {
    width: 100%;
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    .text{
      width: 100%;
      font-size: 100%;
      text-align: center;
      word-wrap: break-word;
      color: black;
      background: rgba(255,255,255,0.5);
      font-weight: bold;
      position: absolute;
      bottom: 0;
      margin: 0;
    }
  }

}
.cart {
  position: absolute;
  right: 0;
  top: 0;
}
.product {
  .img {
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.idComment:hover {
    cursor: pointer;
}